<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144569583555-h2koa1u4jg0bm3gci832daaoirucuekq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144569583555-h2koa1u4jg0bm3gci832daaoirucuekq</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzO4M5foR1jyRHxnpMhTZYyVNmu41HSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>144569583555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biton.minecloud.minecloudTal</string>
	<key>PROJECT_ID</key>
	<string>my-minecloud</string>
	<key>STORAGE_BUCKET</key>
	<string>my-minecloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144569583555:ios:96c840efa015a2e1889f76</string>
</dict>
</plist>